@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root {
    --colot-background-primary: #89b0ae;
    --colot-background-secundary: #f1faee;
    --color-primary-light: #f1faee;
    --color-line-in-white: #caf0f8;
    --color-input-background: #d4f8ffdc;
    --color-text-primary: #555b6e;
    --color-text-secundary: #023e8a;
    --color-button: #0096c7;

    font-size: 60%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body,
#root {
        height: 100vh; 
        background-color: var(--colot-background-secundary);    
}
#root::after {
    content: '';
    position: absolute;
    top: 0;
    height: 50vh;
    width: 100vw;
    background-color: var(--colot-background-primary);
}
body,
input,
button,
textarea {
  font: 500 1.8rem Roboto;

}
.container {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}
.container .welcome {

    
}
@media(min-width: 700px ){
  :root {
      font-size: 45%;
  }
}